<ion-view view-title="Help & Feedback"  >
  <ion-nav-buttons side="left" ng-controller="menuCtrl">
        
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <a href="#/app/playlists"><button menu-toggle="left" class="button button-icon icon ion-home"></button></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-cart"></button>
    </ion-nav-buttons>
  <ion-content>
<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs" style="margin-top: -52%;margin-top: -52%;width: 72%;margin-left: 13%;">
      <a class="tab-item active" href="#">
        
        Help
      </a>
        <p></p>
      <a class="tab-item" href="#/app/feedback">
       
        Feedback
      </a>
        
       
        
     
    </div>
     
  </div>
      <div><p class="helptext">
     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
     </p></div>
  
  </ion-content>
</ion-view>
