<ion-view view-title="Login"  >
  <ion-nav-buttons side="left" ng-controller="menuCtrl">
        
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <button menu-toggle="left" class="button button-icon icon ion-home"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-cart"></button>
    </ion-nav-buttons>
  <ion-content>
      <div class="logintext"> 
          New user?
      </div>
         <div class="logintext2"> 
          Sign up here
      </div>
    <form ng-submit="doLogin()">
      <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="UserName">
    <input type="text" ng-model="loginData.username">
    
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Password">
    <input type="password" ng-model="loginData.password">
  </label>
  
 <label class="item">
    <button class="button button-block button-positive" type="submit">Log in</button>
    <div class="forgotpassword">Forgot password?</div>
</label>

</div>
    </form>
    <div>
        
        <button class="loginbutton button icon-left ion-social-facebook button-positive">Login with Facebook</button>
    </div>
       <div >
        
        <button class=" color loginbutton2 button icon-left ion-social-googleplus button-positive">Login with Google</button>
    </div>
    
  </ion-content>
</ion-view>
