<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable topbar" >
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable topbar">
      <h1 class="title topbar">Menu</h1>
    </ion-header-bar>
    <ion-content>
     
  
     <div class="menuuser">
       
       <a menu-close href="#/app/useraccount"> <img src="img/loginperson.jpg" class="menuimage"> </a>
    
        
      <div class="menutext">Welcome Guest <a menu-close href="#/app/login"><span class="link">(Sign in)</a></span></div>
     
     </div>
      <ion-list>
       <div class="list">

    <a menu-close class="item item-icon-left menulist" href="#/app/playlists">
        <div class="menuicon ">
         <span class="menucolor"> Home</span>
        </div>
        <i class="iconcolor icon ion-ios-home"></i>
    
         
    </a>

    <a menu-close class="item item-icon-left menulist" href="#">
         <i class="menuicon "></i>
        <i class="iconcolor icon ion-email"></i>
        <span class="menucolor"> Offers </span>
         
    </a>

     <a menu-close class="item item-icon-left menulist" href="#/app/search">
        <i class="menuicon "></i>
         <i class="iconcolor icon ion-search"></i>
         <span class="menucolor"> Search </span>
        
    </a>

   <!-- <a menu-close class="item item-icon-left menulist" href="#/app/shortlist">
       
          <i class="menuicon "></i>
        <i class="iconcolor icon ion-ios-heart"></i>
        <span class="menucolor">  Shortlisted</span>
       
    </a>-->

    <a menu-close class="item item-icon-left menulist" href="#/app/order">
         <i class="menuicon "></i>
        <i class="iconcolor icon ion-android-pin"></i>
        <span class="menucolor"> Your Orders </span>
        
    </a>

   

   <!-- <a menu-close class="item item-icon-left menulist" href="#/app/help">
       <i class="menuicon "></i>
        <i class="iconcolor icon ion-help-circled"></i>
        <span class="menucolor"> Help & Feedback</span>
         
    </a>
-->
    
         <a menu-close class="item item-icon-left menulist" href="#/app/shortlist">
       
          <i class="menuicon "></i>
        <i class="iconcolor "></i>
        <span class="menucolor">  </span>
       
    </a>
 <a menu-close class="item item-icon-left menulist" href="#/app/shortlist">
       
          <i class="menuicon "></i>
        <i class="iconcolor "></i>
        <span class="menucolor">  </span>
       
    </a>
 <a menu-close class="item item-icon-left menulist" href="#/app/shortlist">
       
          <i class="menuicon "></i>
        <i class="iconcolor "></i>
        <span class="menucolor">  </span>
       
    </a>

</div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
