<ion-view view-title="Your Orders"  >
  <ion-nav-buttons side="left" ng-controller="menuCtrl">
        
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <button menu-toggle="left" class="button button-icon icon ion-home"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-cart"></button>
    </ion-nav-buttons>
  <ion-content>
   <div class="list" >

    <a class="noborder item item-thumbnail" href="#/app/detail" >
      <h2>Kingfisher Beer</h2>
      <p>Order no : 000DP4465</p>
        <p>Order Date : Sat, May 31, 2015 </p>
     <span ><a href="#/app/detail"><button class="orderbuttons button button-small button-assertive">
 Track Order
</button></a>
            <a href="#/app/detail"> <button class="orderbuttons button button-small button-assertive" >
 Re-Order
                </button></a></span>
       </a>
        
        
        <a class="noborder item item-thumbnail" href="#/app/detail">
      <h2>Kingfisher Beer</h2>
      <p>Order no : 000DP4465</p>
        <p>Order Date : Sat, May 31, 2015 </p>
     <span ><a href="#/app/detail"><button class="orderbuttons button button-small button-assertive">
 Track Order
</button></a> 
            <a href="#/app/detail"> <button class="orderbuttons button button-small button-assertive">
 Re-Order
                </button></a></span>
       </a>
       
       
        
        <a class="noborder item item-thumbnail" href="#/app/detail">
      <h2>Kingfisher Beer</h2>
      <p>Order no : 000DP4465</p>
        <p>Order Date : Sat, May 31, 2015 </p>
     <span ><a href="#/app/detail"><button class="orderbuttons button button-small button-assertive">
 Track Order
</button></a> 
            <a href="#/app/detail"> <button class="orderbuttons button button-small button-assertive">
 Re-Order
                </button></a></span>
       </a>
       
         
        <a class="noborder item item-thumbnail" href="#/app/detail">
      <h2>Kingfisher Beer</h2>
      <p>Order no : 000DP4465</p>
        <p>Order Date : Sat, May 31, 2015 </p>
     <span ><a href="#/app/detail"><button class="orderbuttons button button-small button-assertive">
 Track Order
</button></a> 
            <a href="#/app/detail"> <button class="orderbuttons button button-small button-assertive">
 Re-Order
                </button></a></span>
       </a>

   </div>
  </ion-content>
</ion-view>
