<ion-view view-title="Categories">
    <ion-content>
        <div claaa="categories">
            <a href="#/app/products">
                <div class="categoryimage catimg1">
                    <p class="categoryname">BEER</p>
                </div>
            </a>
            <a href="#/app/products">
                <div class="categoryimage catimg2">
                    <p class="categoryname">SPIRIT</p>
                </div>
            </a>
            <a href="#/app/products">
                <div class="categoryimage catimg3">
                    <p class="categoryname">WINE</p>
                </div>
            </a>
            <a href="#/app/products">
                <div class="categoryimage catimg4">
                    <p class="categoryname">BEVERAGES</p>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
