<ion-view view-title="Products">
    <ion-content>
        <div class="products">
            <div class="resultdesc">1,771 products found in BEER</div>
            <a href="#">
                <div class="product row">
                    <div class="productimage productimage1 col-33"></div>
                    <div class="productinfo col-50">
                        Kingfisher BEER </br>
                        750 ml Can
                        <p class="productdesc">This is a product of the most reputatedd beer company, kingfisher.</p>
                        <p class="productcost">$20</p>
                    </div>
                    <div class="productbutton col-20"><div class="heart"></div></div>
                </div>
            </a>
            <a href="#">
                <div class="product row">
                    <div class="productimage productimage1 col-33"></div>
                    <div class="productinfo col-50">
                        Kingfisher BEER </br>
                        750 ml Can
                        <p class="productdesc">This is a product of the most reputatedd beer company, kingfisher.</p>
                        <p class="productcost">$20</p>
                    </div>
                    <div class="productbutton col-20"><div class="heart"></div></div>
                </div>
            </a>
            <a href="#">
                <div class="product row">
                    <div class="productimage productimage1 col-33"></div>
                    <div class="productinfo col-50">
                        Kingfisher BEER </br>
                        750 ml Can
                        <p class="productdesc">This is a product of the most reputatedd beer company, kingfisher.</p>
                        <p class="productcost">$20</p>
                    </div>
                    <div class="productbutton col-20"><div class="heart"></div></div>
                </div>
            </a>
            <a href="#">
                <div class="product row">
                    <div class="productimage productimage1 col-33"></div>
                    <div class="productinfo col-50">
                        Kingfisher BEER </br>
                        750 ml Can
                        <p class="productdesc">This is a product of the most reputatedd beer company, kingfisher.</p>
                        <p class="productcost">$20</p>
                    </div>
                    <div class="productbutton col-20"><div class="heart"></div></div>
                </div>
            </a>

        </div>
    </ion-content>
</ion-view>
