<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<widget id="com.pixolo.pickndrop" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>pnd</name>
    <description>
        An Pixolo Project
    </description>
    <author email="pixoloproductions@gmail.com" href="http://pixolo.co.in/">
        Pixolo Team
    </author>
    <!--<icon src="www/img/logo.png" />-->
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    
    <icon src="www/img/icon.png" /><!--
    <gap:splash src="www/img/splash.jpg" />-->
    
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>