@font-face {
    font-family: quicksand;
    src: url("../fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family: quicksandbold;
    src: url("../fonts/Quicksand-Bold.ttf");
}

.topbar {
    background-color: #c92d28 !important;
    color: white !important;
}
.menuuser {
    background-color: #f6f2f3;
    height: 21vh;
   
}
.menutext
{
    margin-top: -16%;
    margin-left: 31%;
}
.menutext2
{
    margin-left: 31%;
    font-size: 80%;
}
.link
{
color: #3c7df5;
}

.menuimage
{
    width: 21%;
    margin-top: 17%;
    margin-left: 8%;
    border-radius: 69%;
}
.iconcolor
{
color:  #c82d28;
}
a {
    color: inherit;
    text-decoration: none;
}
.categoryimage {
    height: 25vh;
    background-size: 136%;
    /* margin-top: 43px; */
    background-position-y: -83px;
    background-position-x: -56px;
    position: relative;
    margin-right: 0px;
    border-style: solid;
    border-width: 1px;
}
.catimg1 {
    background-image: url("../img/beer.jpg");
}
.catimg2 {
    background-image: url("../img/spirit.jpg");
}
.catimg3 {
    background-image: url("../img/wine.jpg");
}
.catimg4 {
    background-image: url("../img/beverages.jpg");
}
.categoryname {
    color: white;
    /* vertical-align: bottom; */
    top: 146px;
    left: 10px;
    position: relative;
    font-weight: 500;
    font-size: x-large;
    font-family: quicksandbold;
}
.products {
    background-color: grey;
    height: 100%;
    margin-top: -8px;
}
.product {
    height: 24vh;
    background-color: white;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 1px #3F3F3F;
    border-radius: 4px;
    margin-bottom: 2%;
}
.resultdesc {
    font-size: smaller;
    font-weight: bolder;
    margin-left: 8px;
    margin-top: 7px;
    margin-bottom: 4px;
    color: black;
}
.productimage {
    height: 80%;
    width: 32%;
    /* padding: 49px; */
    /* top: 35px; */
    display: inline-block;
    /* position: relative; */
    /* padding-top: 36px; */
    /* vertical-align: -webkit-baseline-middle; */
    background-size: 100%;
    margin-top: 3%;
    background-position-y: 50%;
    background-position-x: 50%;
}
.productimage1 {
    background-image: url("../img/beerproduct.jpg");
    background-repeat: no-repeat;
}
.productinfo {
    background-color: white;
    margin-left: 15px;
    margin-top: 8px;
}
.productdesc {
    font-size: x-small;
    color: grey;
}
.productcost {
    color: green;
}
.productbutton {} .heart {
    background-image: url("../img/heart.png");
    background-repeat: no-repeat;
    height: 72px;
    width: 72px;
    margin-top: 6%;
    /* margin-bottom: 50%; */
    margin-left: 5%;
    display: inline-block;
    background-size: 50%;
}
.logintext
{
  text-align: center;
    font-weight: bolder;
}
.logintext2
{
  text-align: center;
    color: #3c7df5;
    font-weight: bolder;
   
}
.forgotpassword
{
    text-align: right;
    color: #3c7df5; 

}
.loginbutton
{
margin-top: 14%;
margin-left: 20%;
width: 53%;
text-align: -webkit-center;
    color: white;
}
.loginbutton2
{
margin-top: 7%;
margin-left: 20%;
width: 53%;
text-align: -webkit-center;
   
}
.color
{
 color: red;
}